<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>PruebaDataBinding</title>
</head>
<body>
    <h1>Inicio de Sesión</h1>
    <form method="POST" action="/Juegos/Databinding">
        <input type="text" name = "nombrejuego" /><br/>
        <input type="text" name = "aniosalida" /><br/>
        <input type="text" name = "edad" /><br/>
        <input type="submit" name = "Iniciar Sesión" /><br/>
    </form>

</body>
</html>